body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.table-header {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.table-header td {
  padding: 15px;
  border: 1px solid #ddd;
}

.table-header tr:nth-child(even) {
  background-color: #f9f9f9;
}
